In [64]:
import glob
import xarray as xr
import numpy as np
import pandas as pd

list_of_variables = []

In [65]:
# Lista con todos los datasets:
list_datasets_paths = sorted(glob.glob("Data_life_cycle/Precipitation/*.nc"))
# Leemos uno a uno los datasets y los almacenamos en una lista:
lists_datasets = []
for path in list_datasets_paths:
    weather_data = xr.open_dataset(path)
    lists_datasets.append(weather_data)
# Hacemos un xr.concat(lista_datasets) 
# para tenerlos concatenados por la dimensión tiempo
precipitation_total = xr.concat(lists_datasets, dim='time')
list_of_variables.append(precipitation_total)

In [66]:
# Lista con todos los datasets:
list_datasets_paths = sorted(glob.glob("Data_life_cycle/lowcloudcover/*.nc"))
# Leemos uno a uno los datasets y los almacenamos en una lista:
lists_datasets = []
for path in list_datasets_paths:
    weather_data = xr.open_dataset(path)
    lists_datasets.append(weather_data)
# Hacemos un xr.concat(lista_datasets) 
# para tenerlos concatenados por la dimensión tiempo
lowcloudcover_total = xr.concat(lists_datasets, dim='time')
list_of_variables.append(lowcloudcover_total)

In [67]:
# Lista con todos los datasets:
list_datasets_paths = sorted(glob.glob("Data_life_cycle/Temperature/*.nc"))
# Leemos uno a uno los datasets y los almacenamos en una lista:
lists_datasets = []
for path in list_datasets_paths:
    weather_data = xr.open_dataset(path)
    lists_datasets.append(weather_data)
# Hacemos un xr.concat(lista_datasets) 
# para tenerlos concatenados por la dimensión tiempo
temperature_total = xr.concat(lists_datasets, dim='time')
list_of_variables.append(temperature_total)

In [68]:
# Lista con todos los datasets:
list_datasets_paths = sorted(glob.glob("Data_life_cycle/snowfall/*.nc"))
# Leemos uno a uno los datasets y los almacenamos en una lista:
lists_datasets = []
for path in list_datasets_paths:
    weather_data = xr.open_dataset(path)
    lists_datasets.append(weather_data)
# Hacemos un xr.concat(lista_datasets) 
# para tenerlos concatenados por la dimensión tiempo
snowfall_total = xr.concat(lists_datasets, dim='time')
list_of_variables.append(snowfall_total)

In [69]:
# Lista con todos los datasets:
list_datasets_paths = sorted(glob.glob("Data_life_cycle/windu/*.nc"))
# Leemos uno a uno los datasets y los almacenamos en una lista:
lists_datasets = []
for path in list_datasets_paths:
    weather_data = xr.open_dataset(path)
    lists_datasets.append(weather_data)
# Hacemos un xr.concat(lista_datasets) 
# para tenerlos concatenados por la dimensión tiempo
windu_total = xr.concat(lists_datasets, dim='time')
list_of_variables.append(windu_total)

In [70]:
# Lista con todos los datasets:
list_datasets_paths = sorted(glob.glob("Data_life_cycle/windv/*.nc"))
# Leemos uno a uno los datasets y los almacenamos en una lista:
lists_datasets = []
for path in list_datasets_paths:
    weather_data = xr.open_dataset(path)
    lists_datasets.append(weather_data)
# Hacemos un xr.concat(lista_datasets) 
# para tenerlos concatenados por la dimensión tiempo
windv_total = xr.concat(lists_datasets, dim='time')
list_of_variables.append(windv_total)

In [71]:
total_dataset = xr.merge(list_of_variables)

In [72]:
total_dataset['Wind'] = np.sqrt(total_dataset['u10n_NON_CDM']**2 + total_dataset['v10n_NON_CDM']**2)

In [73]:
total_dataset = total_dataset.drop(['u10n_NON_CDM', 'v10n_NON_CDM'])

In [74]:
total_dataset = total_dataset.drop(['lat', 'lon', 'realization', 'leadtime', 'forecast_reference_time'])

In [75]:
rename_dict = {'tprate': 'Precipitation', 'tas': 'Temperature',
               'lcc_NON_CDM': 'CloudCover', 'sfrate': 'Snowfall'}
total_dataset = total_dataset.rename(rename_dict)

In [76]:
total_dataset = total_dataset.sel(time=slice(total_dataset.time.values[0],'2010-12-11 22:00:00'))

In [77]:
total_dataset_pandas = total_dataset.to_dataframe()

In [78]:
total_dataset_pandas.to_csv('meteorology_house.csv')

In [79]:
total_dataset_pandas.head(10)

,Precipitation,CloudCover,Temperature,Snowfall,Wind
time,,,,,
2007-01-01 00:00:00,1.329846e-07,0.999695,286.432983,0.0,9.663516
2007-01-01 02:00:00,2.353721e-07,0.556274,285.986023,0.0,8.988889
2007-01-01 04:00:00,3.708734e-09,0.164459,284.502136,0.0,6.604268
2007-01-01 06:00:00,0.000000e+00,0.197144,283.309052,0.0,7.486063
2007-01-01 08:00:00,2.053049e-08,0.172791,282.313171,0.0,8.071110
2007-01-01 10:00:00,1.019902e-08,0.224701,NaN,0.0,7.210626
2007-01-01 12:00:00,0.000000e+00,0.417145,283.352661,0.0,7.869368
2007-01-01 14:00:00,0.000000e+00,0.487762,282.979828,0.0,5.367205
2007-01-01 16:00:00,0.000000e+00,0.099670,281.695831,0.0,4.332927
2007-01-01 18:00:00,1.083480e-07,0.190430,280.646057,0.0,5.040624

In [80]:
electricity_paths = sorted(glob.glob("power_consumption*.csv"))

In [81]:
data_list = []
for i in range(len(electricity_paths)):
    print(electricity_paths[i])
    data = pd.read_csv(electricity_paths[i])
    data_list.append(data)

power_consumption_2007.csv
power_consumption_2008.csv
power_consumption_2009.csv
power_consumption_2010.csv

In [82]:
power_consumption_total = pd.concat(data_list)

In [83]:
power_consumption_total = power_consumption_total.set_index('time')

In [84]:
total_dataset_pandas.index

DatetimeIndex(['2007-01-01 00:00:00', '2007-01-01 02:00:00',
               '2007-01-01 04:00:00', '2007-01-01 06:00:00',
               '2007-01-01 08:00:00', '2007-01-01 10:00:00',
               '2007-01-01 12:00:00', '2007-01-01 14:00:00',
               '2007-01-01 16:00:00', '2007-01-01 18:00:00',
               ...
               '2010-12-11 04:00:00', '2010-12-11 06:00:00',
               '2010-12-11 08:00:00', '2010-12-11 10:00:00',
               '2010-12-11 12:00:00', '2010-12-11 14:00:00',
               '2010-12-11 16:00:00', '2010-12-11 18:00:00',
               '2010-12-11 20:00:00', '2010-12-11 22:00:00'],
              dtype='datetime64[ns]', name='time', length=17292, freq=None)

In [85]:
power_consumption_total.index

Index(['2007-01-01 00:00:00', '2007-01-01 02:00:00', '2007-01-01 04:00:00',
       '2007-01-01 06:00:00', '2007-01-01 08:00:00', '2007-01-01 10:00:00',
       '2007-01-01 12:00:00', '2007-01-01 14:00:00', '2007-01-01 16:00:00',
       '2007-01-01 18:00:00',
       ...
       '2010-12-11 04:00:00', '2010-12-11 06:00:00', '2010-12-11 08:00:00',
       '2010-12-11 10:00:00', '2010-12-11 12:00:00', '2010-12-11 14:00:00',
       '2010-12-11 16:00:00', '2010-12-11 18:00:00', '2010-12-11 20:00:00',
       '2010-12-11 22:00:00'],
      dtype='object', name='time', length=17295)

In [86]:
len(total_dataset_pandas.index)

17292

In [87]:
len(power_consumption_total.index)

17295

In [88]:
total = pd.merge(power_consumption_total, total_dataset_pandas, left_index=True, right_index=True, how = "outer")

In [89]:
total.to_csv('final_dataset.csv')

In [90]:
total.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Precipitation,CloudCover,Temperature,Snowfall,Wind
time,,,,,,,,,,,,
2007-01-01 00:00:00,304.442,11.066,28947.47,1258.4,0.0,35.0,0.0,1.329846e-07,0.999695,286.432983,0.0,9.663516
2007-01-01 02:00:00,307.440,11.806,29187.95,1256.4,0.0,36.0,0.0,2.353721e-07,0.556274,285.986023,0.0,8.988889
2007-01-01 04:00:00,297.118,11.390,29088.29,1215.6,0.0,35.0,0.0,3.708734e-09,0.164459,284.502136,0.0,6.604268
2007-01-01 06:00:00,294.180,11.580,28892.16,1213.4,0.0,33.0,0.0,0.000000e+00,0.197144,283.309052,0.0,7.486063
2007-01-01 08:00:00,335.272,8.742,28855.32,1386.0,0.0,3.0,722.0,2.053049e-08,0.172791,282.313171,0.0,8.071110